<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
      <rewrite>
		  <rules>
			  <!-- Rule 0: Exclude Content and Scripts folders from rewriting -->
			  <!--<rule name="Exclude Content and Scripts" stopProcessing="true">
				  <match url="^(?!App)(.*)$" />
				  <conditions>
					  --><!-- Check if the file exists in the public directory --><!--
					  <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsFile" />
				  </conditions>
				  <action type="Rewrite" url="public/{R:1}" />
			  </rule>-->
			  <rule name="Exclude Public" stopProcessing="true">
				  <match url="^(public)(/.*)?$" />
				  <action type="None" />
			  </rule>

			  <!-- Rule 1: Map root ("/") to "/App/Page.aspx" -->
			  <rule name="Root Redirect to App Page" stopProcessing="true">
				  <match url="^$" />
				  <action type="Rewrite" url="App/Page.aspx" />
			  </rule>


			  <!-- Rule 3: Rewrite clean URLs ("/something" to "/App/something/Page.aspx") -->
			  <rule name="Rewrite Clean URLs" stopProcessing="true">
				  <match url="^(.*)$" />
				  <conditions>
					  <!-- Check if the rewritten path actually exists -->
					  <add input="{APPL_PHYSICAL_PATH}App\{R:1}\Page.aspx" matchType="IsFile" />
				  </conditions>
				  <action type="Rewrite" url="App/{R:1}/Page.aspx" />
			  </rule>

			  <!-- Rule 3: Redirect All Unmatched Routes to Custom 404 Page -->
			  <rule name="Catch All to 404" stopProcessing="true">
				  <match url=".*" />
				  <action type="Rewrite" url="App/_404.aspx" />
			  </rule>
          </rules>
      </rewrite>
	  <directoryBrowse enabled="false" />
      <httpErrors errorMode="Custom" existingResponse="Replace">
          <remove statusCode="404" subStatusCode="-1" />
          <error statusCode="404" path="App/_404.aspx" responseMode="ExecuteURL" />
      </httpErrors>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="On">
        <error statusCode="404" redirect="~/404.aspx" />
    </customErrors>
  </system.web>
</configuration>