<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
                <rule name="Redirect Old App URLs to Clean URLs" stopProcessing="true">
                    <match url="^App(?:/(.*?))?/Page\.aspx$" ignoreCase="true" />
                    <!--<action type="Redirect" url="/{R:1}" redirectType="Permanent" />-->
					<action type="Rewrite" url="/{R:1}" />
                </rule>
			</rules>
        </rewrite>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule" />
        </modules>   
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/App/_404.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" />
        <customErrors mode="On" defaultRedirect="~/App/_404.aspx">
            <error statusCode="404" redirect="~/App/_404.aspx" />
        </customErrors>
    </system.web>
</configuration>